<%  errors.forEach(function(message){ %>
    <div class="alert alert-danger text-centre"><%= message%> </div> 
     <%})  %>

     <%  success.forEach(function(message){ %>
        <div class="alert alert-success text-centre"><%= message%> </div> 
         <%})  %>
    